* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}
nav {
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
  margin: 10px auto;
}

ul {
  text-align: center;
}

#book-list-ul {
  list-style: none;
  padding: 20px;
  margin: 0 auto;
}
#book-list-ul li {
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  padding: 5px;
  margin: 0 auto;
}
